@use "../utils/vars" as *;
@use "../utils/mixins" as *;

.navigation-mobile {
  &__toggle {
    background-color: transparent;
    border: none;
  }
  &__toggle:hover,
  &__toggle:focus {
    cursor: pointer;
    fill: getColor("third");
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu-container {
  position: fixed;
  background-color: getbackgroundColor("primary");
  inset: 0;
  transform: translateX(100%);
}
.modal-header {
  display: flex;
  padding-left: 34.42px;
  padding-top: 12px;
  &__icon {
  }
  &__text {
    position: absolute;
    left: 50px;
    top: 30px;
    color: #84a178;
    text-align: center;
    font-family: Seymour One;
    font-size: 14.874px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.487px;
    text-shadow: -1px -1px 0 #f8d24e, 1px -1px 0 #f8d24e, -1px 1px 0 #f8d24e,
      1px 1px 0 #f8d24e;
  }
  &__toggle {
    position: absolute;
    fill: getColor("primary");
    font-size: 32px;
    right: 20px;
    top: 16px;
    background-color: transparent;
    border: none;
  }
  &__toggle:hover > svg,
  &__toggle:focus > svg {
    cursor: pointer;
  }
}
.btn1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 152px;
  height: 42px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  &__icon {
    margin-left: 4px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  align-items: center;
  gap: 40px;
  padding-bottom: 114px;
  &__link {
    color: getColor("primary");
    font-size: 48px;
    font-family: $main-font;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-decoration: none;
    line-height: normal;
  }
  &__link:hover,
  &__link:focus {
    color: getColor("third");
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  &__btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 42px;
    color: getColor("third");
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #f8d24e;
    border-radius: 10px;
    border: none;
  }
  &__icon {
    margin-left: 4px;
  }
}
