$main-font: "Montserrat";
$secondary-font: "Seymour One";
$fontColor: (
  "primary": #fcfcfc,
  "secondary": #fff,
  "third": #000,
  "fourth": #131313,
  "Sixth": #d6936d,
  "Seventh": #7a7a7a,
  "Eigth": #84a178,
);

$backgroundColor: (
  "primary": #84a178,
  "secondary": #fcfcfc,
  "third": #aec6a5,
  "fourth": #d6936d,
  "fifth": #f8d24e,
  "sixth": #fff,
);

@function getbackgroundColor($key-2) {
  @return map-get($backgroundColor, $key-2);
}
@function getColor($key) {
  @return map-get($fontColor, $key);
}

$phoneMax: 767px;
$tabletMin: 768px;
$tabletMax: 1199px;
$desktopMin: 1200px;
